/*body {
  background:
  linear-gradient(cyan, transparent),
  linear-gradient(-45deg, magenta, transparent),
  linear-gradient(45deg, yellow,
      transparent
      );
  background-blend-mode: multiply
}
*/


body {
    color: white;
    text-align: center;
  /* fallback DIY*/

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#2F2727), color-stop(0.25, #1a82f7), color-stop(0.5, #2F2727), color-stop(0.75, #1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727);

  /* IE 10 */
  background: -ms-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727);
}

/*div {
  margin: auto;
}*/
h1 {
  margin-top: 100px;
}

.child {
  margin-top: 60px;
}

.message {
  font-size: 40px;
  margin-left: 10cm;
  margin-right: 10cm;
}